ROOTS_HOST=127.0.0.1
ROOTS_PORT=8080
ROOTS_DEVELOPMENT=false
ROOTS_SECURE_COOKIES=true
ROOTS_TRUSTED_PROXIES=127.0.0.1/32,::1/128
ROOTS_SHUTDOWN_TIMEOUT=PT30S
ROOTS_REQUEST_BODY_TEMPORARY_DIRECTORY=/var/lib/roots/tmp
ROOTS_MAX_LIVE_VIEWS=1000
ROOTS_MAX_CONCURRENT_REQUESTS=2000
ROOTS_MAX_SESSIONS=4000
